<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
<h1>게시글 작성</h1>
<form action="/board/post" method="post">
    <label for="username">사용자 이름:</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="title">게시글 제목:</label>
    <input type="text" id="title" name="title"><br><br>

    <label for="content">게시글 내용:</label>
    <textarea id="content" name="content"></textarea><br><br>

    <input type="submit" onclick="saveReq()">
</form>
<script>
    const saveReq = () => {
        location.href = "/board/list"
    }
</script>

</body>
</html>